<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/user/feed">
        <img src="/img/logo.png" style="height: 30px" class="d-inline-block align-top"> Project Somwhat Working...
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            
            <li style="align-items: center;">
                <form  method='get'> 
                    <input type="text" name="title" placeholder="Search" class="form-control" list=options >
                                <datalist id="options">
                                    <option>Food</option>
                                    <option>drink</option>
                                    <option>Style</option>
                                    <option>Cars</option>
                                    <option>Painting</option>
                                    <option>Captured</option>
                                </datalist>
                </form>
                                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/feed"><i ></i>Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/activity"><i ></i>Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard"><i></i> dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/upload"><i class="fas fa-upload"></i> Upload</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/Favourite"></i> Favourite</a> 
            </li>
            <li>
                <a class="nav-link" href="/user/logout">Logout</a> 
            </li>
        </ul>
    </div>
</nav>